<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.rubyeye.ur" android:versionCode="1" android:versionName="1.0.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".UniqRecorder" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".RecordList" android:label="@string/menu_list_record" />
		<activity android:name=".RecordEdit" android:label="@string/menu_edit_record" />
		<activity android:name=".ItemList" android:label="@string/menu_list_item" />
		<activity android:name=".ItemEdit" android:label="@string/menu_edit_item" />
		<activity android:name=".RecordChart" android:label="@string/menu_record_chart" />
		<activity android:name=".ChartSelector" android:label="@string/menu_record_chart" />
		<activity android:name=".About" android:label="@string/about_app" />
	</application>
	<uses-sdk android:minSdkVersion="3" />

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
</manifest> 